
<style>
#message_container {
  visibility: hidden;
  color: #000;
  text-align: centre;
  border-radius: 2px;
  padding: 1px;
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 200px;
  font-size: 14px;
}

#message_container.show_message {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

</style>


        {% if messages %}
                {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                  </div>
                {% endfor %}
            {% endif %}